$color-primary: #cb1511;
$color-secondary: #02336d;
$color-primary-v1: #67b0d1;
$color-secondary-v1: #273f49;
$color-white: #ffffff;
$color-black: #000000;
$color-error: #ff4d4d; // Define error color directly
$bright-cyan: #74b1d0;
$transparent-color: #00000000;
$light-blue: #f4f9fd;
$border-color: #c4d3ee;
$dark-desaturated: #263f49;
$bg-background: #f4f9fc;
